<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
	  <property name="location">
	  		<value>classpath:application.properties</value>
	  	</property>
	  <property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="com.btracey4.footballstats.hibernate"/>
		<property name="hibernateProperties">
	            <props>
	                <prop key="spring.jpa.hibernate.ddl-auto">
	                    {$spring.jpa.hibernate.ddl-auto}
	                </prop>
	            </props>
	        </property>
	</bean>
	
	<bean id="nflGameRecordLoader" class="com.btracey4.footballstats.loader.NFLGameRecordLoader">
		<property name="dateFormatString" value="mm/dd/yyyy"/>
		<property name="dao" ref="dao"/>
	</bean>

	<bean id="dao" class="com.btracey4.footballstats.NFLGameRecordDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="nflStatsDisplay" class="com.btracey4.footballstats.display.NFLStatsDisplay">
		<property name="dao" ref="dao"/>
	</bean>

</beans>